* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 100vh;
}

.menu-lateral {
    width: 80px;
    height: 100%;
    background-color: #000;
    padding: 40px 0 40px 1%;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

.menu-lateral.expandir {
    width: 300px;
}

.menu-lateral.expandir .txt-link {
    margin-left: 40px;
    opacity: 1;

}

.btn-expandir {
    position: absolute; 
    right: 10px; 
    top: 20px; 
    color: #fff;
    font-size: 24px;
    transition: transform .3s; 


}

.btn-expandir > i {
    color: #fff;
    font-size: 24px;
    transition: transform 10s;
}


ul {
    height: 100%;
    margin-top: 20px;
    list-style-type: none;
}

ul li.item-menu {
    transition: .2s;
}

ul li.ativo{
    background-color: #1C1C1C;
}

ul li.item-menu:hover {
    background-color: #1C1C1C;
}

ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: .5s;
    opacity: 0;

}

ul li.item-menu a .icon > i {
    font-size: 30px;
}

.ajustes {
    margin-top: -60px; 
    padding: 20px 0; 
    margin-left: 10px;
}

.ajustes a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    
}

.ajustes .ajustes-icon {
    font-size: 30px; 
    margin-right: 40px; 
}

.ajustes .ajustes-txt-link {
    font-size: 20px; 
    opacity: 0; 
    transform: translateX(50px); 
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-lateral.expandir .ajustes .ajustes-txt-link {
    opacity: 1;
    transform: translateX(0);
}

.ajustes:hover {
    background-color: #1C1C1C; 
}